[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
django-heroku = "*"
mysqlclient = "*"
gunicorn = "==19.9.0"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.7"
