<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .container {
            display: flex;
            justify-content: center;
            flex-direction: row;
          }
    </style>


    <title>LGA Result | PU Result Checker</title>
  </head>
  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{%url 'home'%}">PU Result Checker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="{%url 'unit_solution'%}">PU Results</a>
                <a class="nav-item nav-link active" href="">LGA Results<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{%url 'newunit'%}">New PU</a>
            </div>
        </div>
      </nav>
  </header>

  <h1>LGA Results</h1>
<div class="container">
    <div class="row">
        <!-- =====PROVIDE QUERY CONDITIONS== -->
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Enter Details to Query</div>
          <div class="card-body">
          <form action="{%url 'sumunit_solution'%}">
            {% csrf_token %}
              <h5>State ID</h5>
              <input  name="state_id"  required="required" type="number" placeholder="Enter state id">
              <hr>
              <h5>LGA ID</h5>
              <input  name="lga_id"  required="required" type="number" placeholder="Enter lga id">
              <hr>
              <input type="submit"class="btn btn-primary" value="SUM"/>
          </form>
      </div>
      </div>


    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">RESULTS</div>
        <div class="card-body">
            <h5 class="card-title">Total Polling Units : {{number_pu}}</h5>
            {% for key,value in pol_parties.items %}
            <p class="card-text">{{key}} , {{value}} votes</p>
            {%endfor%}
        </div>
    </div>
    <!-- <h4 style='color:red'>{{error}}</h4> -->

    </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>  
  </body>
  </html>